@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,300,500,600,700,800,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");

/* set up for main body */

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #0c0909;
}

/* reusable components */

/* fonts */

.text-barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.text-oswald {
  font-family: "Oswald", sans-serif;
}

/* end fonts */

/* colors */

.white {
  color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.text-center {
  text-align: center;
}

/* tageting all h1 */

h1 {
  margin-top: 5rem;
}

/* navbar */

/* creating sticky navbar*/

.nav-container {
  background-color: #0f0e0efa;
  padding: 0.5rem 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

/* socail links also added here  */

.social-links,
.nav-container {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  justify-content: center;
}

/*  targeting all links when not visited*/

a {
  margin: 1rem;
  color: #ffffff;
  text-decoration: none;
}

/* targeting all links when visited */

a:visited {
  color: rgb(128, 128, 128);
}

/* tageting all links on hover */

a:hover {
  color: rgb(0, 128, 0);
  transform: scale(1.1);
}

/* main section about page*/

.callout-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/images/coding_image.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 4rem;
}

.flex-item-wrapper {
  letter-spacing: 0.1rem;
}

.social-links,
.callout-section-flex-item {
  font-size: 2rem;
  color: rgb(0, 128, 0);
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

/* key frames animation so callout section text fades in*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* footer */

/* over riding some of the footer css form above */

.social-icon-footer-icon {
  margin: 0 0 0 0.5rem;
  color: #000000;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background-color: rgb(0, 128, 0);
}

/* changing socail icons color on hover  */

.social-icon-footer-icon:hover {
  color: rgb(0, 128, 0);
  background-color: black;
}

/* timeline css form  https://www.w3schools.com/howto/howto_css_timeline.asp*/

/* The actual timeline (the vertical ruler) */

.timeline {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
  content: "";
  position: absolute;
  width: 0.375rem;
  background-color: rgb(0, 128, 0);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -0.188rem;
}

/* Container around content */

.container {
  padding: 0.625rem 2.5rem;
  position: relative;
  background-color: inherit;
  width: 40%;
}

/* The circles on the timeline */

.container::after {
  content: "";
  position: absolute;
  width: 1.563rem;
  height: 1.563rem;
  right: -3.563rem;
  background-color: #ffffff;
  border: 0.25 rem solid rgb(0, 128, 0);
  top: 0.938rem;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */

.right {
  left: 53%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 1.375rem;
  width: 0;
  z-index: 1;
  right: 1.875rem;
  border: medium solid #ffffff;
  border-width: 0.625rem 0 0.625rem 0.625rem;
  border-color: transparent transparent transparent #ffffff;
}

/* Add arrows to the right container (pointing left) */

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 1.375rem;
  width: 0;
  z-index: 1;
  left: 1.875rem;
  border: medium solid #ffffff;
  border-width: 0.625rem 0.625rem 0.625rem 0;
  border-color: transparent #ffffff transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
  left: -3.125rem;
}

/* The actual content */

.content {
  /* max-width: 60%; */
  padding: 1.25rem 1.875rem;
  background-color: #ffffff;
  position: relative;
  border-radius: 0.375em;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 1.938rem;
  }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 4.375rem;
    padding-right: 1.563rem;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 3.75rem;
    border: medium solid #ffffff;
    border-width: 0.625rem 0.625rem 0.625rem 0;
    border-color: transparent 3.75rem transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 0.938rem;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* skills and projects section */

/* for both skills and projects */

.skills-projects-wrapper {
  margin-top: 3rem;
  justify-content: center;
  display: grid;
  grid-gap: 1.25rem;
}

.skills-projects-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

figcaption {
  color: #ffffff;
  text-align: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  padding: 0.5rem;
}

/* projects and slills images both grow on hover */

.skills-projects-wrapper img:hover {
  transform: scale(1.1);
}

/* just for skills */

.skills-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  padding-bottom: 1.5rem;
  grid-gap: 5rem;
}

/* detting max height for django image to align with other elements */

.django-img-height {
  max-height: 14rem;
}

/* just for projects */

.projects-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.projects-wrapper figcaption {
  margin-bottom: 1rem;
}

.projects-wrapper figcaption span {
  padding: 2rem;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
}

/* targeting each footer div */

footer div {
  padding: 0.5rem;
  margin-top: 1.5rem;
}

/* targeting div in home page on footer only */

.home-footer-div {
  margin: 0.5rem 0;
}

/* targeting socail links footer */

.social-link-footer {
  font-size: 1.5rem;
}
